<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Testsuite">
            <file>./tests/ConfigTest.php</file>
            <file>./tests/TaskHandlerTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="MAIL_DRIVER" value="log"/>
        <env name="GOOGLE_APPLICATION_CREDENTIALS" value="./tests/Support/gcloud-key-valid.json" />
        <env name="QUEUE_DRIVER" value="cloudtasks"/>
        <env name="DB_CONNECTION" value="mysql" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="my-secret-pw" />
        <env name="DB_DATABASE" value="cloudtasks" />
    </php>
</phpunit>
